:root {
  --site-header-color: #26a53b;
  --site-header-color-hover: #000000;
  
  --navbar-text-color: #ffffff;
  
  --site-background: #fafafa;
  --site-background-color: #333333;
  
  --text-heading: #444444;
  --text-body: #444444;
  --text-body-muted: #e3e3e3;
  
  --background-color: #fafafa;
  --accent-color-hover: #27a93c;
  --metadata-color-hover: #2F2FB6;
  
  --article-title-color: #444444;
  --article-content-color: #444444;
  
  --border: 3px solid #dddddd;
  --content-border: 1px solid #dddddd;
  
}

:root.dark-mode {
  --site-header-color: #2960e1;
  --site-header-color-hover: #000000;
  
  --navbar-text-color: #ffffff;
  
  --site-background: #353536;
  --site-background-color: #AEAEAE;
  
  --text-heading: #F2F2F3;
  --text-body: #F2F2F3;
  --text-body-muted: #A5A5A6;
  
  --background-color: #4C4C4D;
  --accent-color-hover: #ACACFF;
  --metadata-color-hover: #D1D1FF;
  
  --article-title-color: #EEEEF0;
  --article-content-color: #EEEEF0;
  
  --border: 3px solid #696969;
  --content-border: 1px solid #696969;
}

body {
  background: var(--site-background);
  color: var(--site-background-color);
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-heading);
}

.bg-steel {
  background-color: var(--site-header-color);
}

.site-header .navbar-nav .nav-link {
  color: var(--navbar-text-color);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--site-header-color-hover);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  /* color: var(--article-content-color);*/
  background: var(--background-color);
  padding: 10px 20px;
  border: var(--content-border);
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: var(--article-title-color);
}

a.article-title:hover {
  color: var(--accent-color-hover);
  text-decoration: none;
}

.article-content {
  color: var(--article-content-color);
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  color: var(--metadata-color-hover);
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: var(--content-border)
}

.article-metadata a:hover {
  color: var(--accent-color-hover);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit:cover;
}

.post-img {
  height: 250px;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit:cover;
}

.account-heading {
  font-size: 2.5rem;
}
