LogBlog/logblog/logBlogDEV.db

LogBlog/logblog/static/profile_pictures/*
!LogBlog/logblog/static/profile_pictures/default.jpg

LogBlog/logblog/static/posted_pictures/*
env/*
LogBlog/logblog/*/__pycache__/
