OtterDen/otter_den/logBlogDEV.db

OtterDen/otter_den/static/profile_pictures/*
!OtterDen/otter_den/static/profile_pictures/default.jpg

OtterDen/otter_den/static/posted_pictures/*
env/*
OtterDen/otter_den/*/__pycache__/
OtterDen/otter_den/__pycache__/

testsuite/test_utils/__pycache__/
testsuite/geckodriver.log
