alembic==1.9.2
apipkg==3.0.1
apparmor==3.1.2
appdirs==1.4.4
asn1crypto==1.5.1
async-generator==1.10
attrs==22.1.0
bcrypt==3.2.0
behave==1.2.6
blinker==1.4
Brotli==1.0.9
brotlipy==0.7.0
cached-property==1.5.2
certifi==2022.12.7
cffi==1.15.0
chardet==5.1.0
charset-normalizer==3.0.1
click==8.0.3
cmdln==2.0.0
colorama==0.4.6
configobj==5.0.6
configparser==5.3.0
createrepo-c==0.20.1
crit==3.17.1
cryptography==39.0.1
cssselect==1.2.0
cupshelpers==1.0
decorator==5.1.1
distlib==0.3.5
distro==1.8.0
dnspython==2.2.0
dragonmapper==0.2.6
email-validator==1.1.3
exceptiongroup==1.0.4
extras==1.0.0
filelock==3.7.1
fixtures==4.0.1
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==4.0.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
geckodriver-autoinstaller==0.1.0
gpg==1.18.0
greenlet==1.1.2
h11==0.14.0
hanzidentifier==1.1.0
idna==3.3
importlib-metadata==6.0.0
importlib-resources==5.10.2
iniconfig==0.0.0
ipaddr==2.2.0
itsdangerous==2.0.1
Jinja2==3.0.3
LibAppArmor==3.1.2
libvirt-python==9.0.0
libxml2-python==2.10.3
linecache2==1.0.0
loguru==0.6.0
lxml==4.9.2
Mako==1.2.4
MarkupSafe==2.1.2
marshmallow==3.14.1
msgpack==1.0.4
mysqlclient==2.1.1
nftables==0.1
notify2==0.3.1
opi==2.14.0
ordered-set==4.1.0
outcome==1.2.0
packaging==23.0
parse==1.19.0
parse-type==0.6.0
Parsley==1.3
pbr==5.11.1
Pillow==9.3.0
platformdirs==2.5.2
ply==3.11
prettytable==3.5.0
protobuf==4.21.12
psutil==5.9.4
py==1.11.0
pyasn1==0.4.8
pycairo==1.23.0
pycodestyle==2.9.1
pycparser==2.21
pycups==2.0.1
pycurl==7.45.2
Pygments==2.14.0
PyGObject==3.42.2
PyMySQL==1.0.2
pynvim==0.4.3
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-sip==12.11.1
PySocks==1.7.1
pyte==0.8.1
python-dateutil==2.8.2
python-linux-procfs==0.7.0
python-mimeparse==1.6.0
pyudev==0.24.0
requests==2.28.2
rpm==4.18.0
selenium==4.6.1
six==1.16.0
slip==0.6.5
slip.dbus==0.6.5
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.31
SQLAlchemy-Utils==0.38.2
termcolor==2.1.1
testtools==2.5.0
thefuck==3.32
toml==0.10.2
torbrowser-launcher==0.3.6
traceback2==1.4.0
trio==0.22.0
trio-websocket==0.9.2
urllib3==1.26.13
utils-flask-sqlalchemy==0.2.6
virtualenv==20.16.2
wcwidth==0.2.6
Werkzeug==2.2.3
wsproto==1.2.0
WTForms==3.0.1
zhon==1.1.5
zipp==3.12.0
