:root {
  --site-header-color: #26a53b;
  --site-header-color-hover: #000000;

  --navbar-text-color: #ffffff;

  --site-background: #fafafa;
  --site-background-color: #333333;

  --text-heading: #444444;
  --text-body: #444444;
  --text-body-muted: #e3e3e3;

  --link-color: #26a53b;

  --background-color: #fafafa;
  --accent-color-hover: #27a93c;
  --metadata-color-hover: #2F2FB6;

  --article-title-color: #444444;
  --article-content-color: #444444;

  --border: 3px solid #dddddd;
  --content-border: 1px solid #dddddd;

}

:root.dark-mode {
  --site-header-color: #2960e1;
  --site-header-color-hover: #000000;

  --navbar-text-color: #ffffff;

  --site-background: #353536;
  --site-background-color: #AEAEAE;

  --text-heading: #F2F2F3;
  --text-body: #F2F2F3;
  --text-body-muted: #A5A5A6;

  --link-color: #2fd44b;

  --background-color: #4C4C4D;
  --accent-color-hover: #ACACFF;
  --metadata-color-hover: #D1D1FF;

  --article-title-color: #EEEEF0;
  --article-content-color: #EEEEF0;

  --border: 3px solid #696969;
  --content-border: 1px solid #696969;
}

body {
  background: var(--site-background);
  color: var(--site-background-color);
  margin-top: 5rem;
  padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-heading);
}

.bg-steel {
  background-color: var(--site-header-color);
}

.site-header .navbar-nav .nav-link {
  color: var(--navbar-text-color);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--site-header-color-hover);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  /* color: var(--article-content-color);*/
  background: var(--background-color);
  padding: 10px 20px;
  border: var(--content-border);
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-heading {
  font-size: 2.5rem;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit:cover;
}

.article-title {
  color: var(--article-title-color);
  word-wrap: anywhere;
}

.article-title-preview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.article-title:hover {
  color: var(--accent-color-hover);
  text-decoration: none;
}

.article-content {
  color: var(--article-content-color);
  white-space: pre-line;
  word-wrap: anywhere;
}

.article-content-link {
  color: var(--link-color);
}

.article-content-preview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  color: var(--metadata-color-hover);
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: var(--content-border)
}

.article-metadata a:hover {
  color: var(--accent-color-hover);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.post-img {
  width: inherit;
  height: auto;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.post-img-preview {
  max-height: 200px;
}

/* Mask for preview images */
.post-img-preview img{
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 150px, rgba(0,0,0,0) 200px);
}

/* Expanded Image view on click */
.modal-img {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-img-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 800px;
}

.modal-img-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: relative;
  top: -10px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
